body{
    background-color: beige;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

h1{
   display: flex;
   justify-content: center; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container > *{
    font-size: 1rem;
}

.grid{
    background-color: aliceblue;
    border: 2px solid black;
    margin: 10vh 10vw;
    width: 80vw;
    height: 80vh; 
    display: flex;
    flex-wrap: wrap;
}

